<!-- UPDATE ACCOUNT -->

{% extends 'base.html' %}

{% block content %}
    <!----- Slidding right section --->
    <div class="slide-in from-right">
      <div class="slide-in-content">
        {% with user=user, form=form %}
        {% include 'edit_profile.html' %}
        {% endwith %}
      </div>
    </div>
    <!----- //Slidding right section --->

    <section class="hero is-prime-color">
      <div class="hero-body">
        <div class="container">
          <!-- .media -->
          <article class="media" >
            <figure class="media-left">
              <p class="image is-64x64">
                <img class="is-rounded" src="{{ user.profile_image_link }}">
              </p>
            </figure>
            <div class="media-content" style="max-width:40%">
              <div class="content">
                <p>
                  <strong>{{ user.username }}</strong> <small>@{{ user.username }}</small>
                  <br>
                    {{ user.bio }}
                </p>
              </div>
              <nav class="level is-mobile">
                <div class="level-left">
                  {% if current_user.id == user.id %}
                  <a class="level-item" id="toggle">
                    <span class="icon is-small"><i class="fas fa-user-edit"></i></span>
                  </a>
                  {% endif %}
                  <a class="level-item">
                    <span class="icon is-small"><i class="fas fa-heart"></i></span>
                  </a>
                  <p class="level-item">collections: {{ posts|length }}</p>
                </div>
              </nav>
            </div>

            {# right side to add info such as nbr collection, nbr like, etc #}

            <!-- <div class="media-right">
              <button class="delete"></button>
            </div> -->
          </article>
          <!-- /.media -->
        </div>
      </div>

    </section>

    {# ************ LEFT SIDE *************************** #}
    <section class="section">
      <div class="container">
        <div class="row">
          <div class="columns">

            <div class="column is-2-widescreen">
              {# LEFT SIDE #}
              <section class="section">
                <h3 class="subtitle is-4"> Filtrer par:</h3>
                {# start of the card - need to change this for a table #}
                <div class="menu">
                  <ul class="menu-list">
                    <li> <a href="#" class="is-active">All</a> </li>
                    <li> <a href="#">Python</a> </li>
                    <li> <a  href="#">Javascript</a> </li>
                    <li> <a href="#">Flask</a> </li>
                    <li> <a href="#">Git</a> </li>
                  </ul>
                </div>

              </section>
            </div>


            {# ********** RIGHT SIDE  ************** #}
            <div class="column is-10">
              <section class="section">
                <h3 class="subtitle is-4"> Mes collections</h3>
                {# we will dive the different columns#}
                <div class="columns is-multiline">
                  {# start the for loop to get all the posts #}
                  {% for post in posts %}
                    <div class="column is-one-third">
                      {# start of the card #}
                      <div class="card">
                        <div class="card-image">
                          <figure class="image is-4by3">
                            <img src="{{ post.post_image_link }}" alt="Post Image">
                          </figure>
                        </div>
                        <div class="card-content">
                          <div class="media">
                            <div class="media-content">
                              <p class="title is-5">{{ post.title }}</p>
                              <p class="subtitle is-6">{{ post.date_posted|datetimeformat }}</p>
                            </div>
                          </div>

                          <div class="content">
                            {{ post.summary|truncate(70, True)|safe }}
                          </div>
                          <a href="{{ url_for('posts.show_post',post_public_id=post.public_id)}}" class="button is-primary issmall">Voir collection</a>
                        </div>
                      </div>
                      {# end of the card #}
                    </div>
                  {% endfor %}

                </div>

              </section>


            </div>

          </div>

      </div>


    </section>


{% endblock %}
