

{% extends 'base.html' %}


{% block content %}

<div class="container" style="width: 60%">

  <h1 class="title is-2">  {{ legend }} </h1>

  <form method="POST">

    {# This hidden_tag is a CSRF security feature. #}
    {{ form.hidden_tag() }}

    <div class="field">
      {{ form.email.label(class="label") }}
      <div class="control has-icons-left has-icons-right">
        {{ form.email(class="input", placeholder="Votre email") }}
        <span class="icon is-small is-left">
          <i class="fas fa-envelope"></i>
        </span>
        <span class="icon is-small is-right">
          <i class="fas fa-exclamation-triangle"></i>
        </span>
      </div>
      <p class="help is-success">This username is available</p>
    </div>


    <div class="field is-grouped">
      <div class="control">
        {{ form.submit(class="button is-primary is-medium") }}
      </div>
    </div>


  </form>

</div>



{% endblock %}
