<!-- REGISTER.HTML -->

{% extends 'base.html' %}

{% block content %}

<div class="limiter">
  <div class="container-login100">

    <div class="login-box">

      <!-----------Start of right box ----->
      <div class="left-box">

        <div class="container">
          {# Column left for the text#}
          <h1 class="left-box-title" > J'ai déjà un compte. </h1>

          <div class="level">
            <div class="level-item has-text-centered">
              <div>
                <!-- <h1 class="title is-2 has-text-white"> Je crée mon compte!</h1> -->
                <!-- <p class="title is-6 has-text-white">OU</p> <br> -->
                <a href="{{url_for('users.login')}}" class="button is-primary">Je me connecte</a>
              </div>
            </div>
          </div>

        </div>


      </div>




          <div class="right-box">

              <h2 class="title is-4"> Je crée un compte!</h2>

                <div class="row">
                  {% if error %}<p class=error><strong>Error:</strong> {{ error }}{% endif %}

                </div>

                <form method="POST">

                  {# This hidden_tag is a CSRF security feature. #}
                  {{ form.hidden_tag() }}

                  <div class="field">
                    {{ form.username.label(class="label") }}
                    <div class="control has-icons-left has-icons-right">
                      {{ form.username(class="input", placeholder="nom d'utilisateur") }}
                      <span class="icon is-small is-left">
                        <i class="fas fa-user"></i>
                      </span>
                      <span class="icon is-small is-right">
                        <i class="fas fa-check"></i>
                      </span>
                    </div>
                    <p class="help is-success">Choose a plaisant username</p>
                  </div>


                  <div class="field">
                    {{ form.email.label(class="label") }}
                    <div class="control has-icons-left has-icons-right">
                      {{ form.email(class="input", placeholder="Votre email") }}
                      <span class="icon is-small is-left">
                        <i class="fas fa-envelope"></i>
                      </span>
                      <span class="icon is-small is-right">
                        <i class="fas fa-exclamation-triangle"></i>
                      </span>
                    </div>
                    <p class="help is-success">We'll never share your email with anyone else</p>
                  </div>


                  <div class="field">
                    {{ form.password.label(class="label") }}
                    <div class="control has-icons-left has-icons-right">
                      {{ form.password(class="input", placeholder="mot de passe") }}
                      <span class="icon is-small is-left">
                        <i class="fas fa-lock"></i>
                      </span>
                    </div>
                    <p class="help is-success">8 characters min.</p>
                  </div>

                  <div class="field">
                    {{ form.re_password.label(class="label") }}
                    <div class="control has-icons-left has-icons-right">
                      {{ form.re_password(class="input", placeholder="re-taper votre mot de passe") }}
                      <span class="icon is-small is-left">
                        <i class="fas fa-lock"></i>
                      </span>
                    </div>
                    <p class="help is-success">8 characters min.</p>
                  </div>

                  <div class="field">
                    <div class="control">
                      <label class="checkbox">
                        <input type="checkbox">
                        Je suis d'accord avec <a href="#">les termes et conditions</a>
                      </label>
                    </div>
                  </div>

                  <div class="field is-grouped">
                    <div class="control">
                      {{ form.submit(class='button is-primary is-medium') }}
                    </div>
                  </div>

                </form>


            </div>

        </div>

  </div>
</div>




{% endblock %}
