<!--- post.html --->
{% extends 'base.html' %}

{% block content %}

<!-- Banner image top -->

    <div class="container-fluid mb-4 px-0">
      <div class="row mx-0">
        <div class="col-12 px-0">
          <img src="{{ post.post_image_link }}" class="img-fluid w-100">
        </div>
      </div>
    </div>

    <div class="container-fluid"  >
      <div class="row">

        <!-- LEFT COLUMN -->
        <div class="col-sm-2">

          <!-- // show the category and the social  -->
          <div class="container">
            <div class="bd-example mt-3">

            {% for tag in tags %}

                {% if loop.index == 1 %}
                <a href="#" class="badge badge-primary">{{ tag }}</a>
                {% elif loop.index == 2 %}
                <a href="#" class="badge badge-secondary">{{ tag }}</a>
                {% elif loop.index == 3 %}
                <a href="#" class="badge badge-danger">{{ tag }}</a>
                {% else %}
                <a href="#" class="badge badge-light">{{ tag }}</a>

                {% endif %}
            {% endfor %}
            </div>


            <div class="bd-example mt-3">
              <p><small class="text-muted">views:</small> {{ views }} fois</p>
            </div>

          </div>



        </div>

        <!-- MIDDLE COLUMN -->
        <div class="col-sm-7">

          <h1 class="display-4">{{ post.title }}</h1>

          <p class="card-text"><small class="text-muted">{{ post.date_posted }}</small></p>

          <p class="lead"> {{ post.summary }} </p>

          <!-- // show the post links and titles -->

          <h3 class="display-6 mb-3 ">Pour approfondir ses connaissances: </h3>

          <div class="card-deck">

          {% for l in links %}

            {% if loop.index == 0 or loop.index == 2 or loop.index == 5 %}
            <!-- // card color primary -->

            <a href="{{ l.link_url }}" style="text-decoration: none;" target="_blank">

              <div class="card text-white bg-primary mb-3" style="max-width: 18rem;">
                <div class="card-header">Lien nº {{loop.index}}</div>
                <div class="card-body">
                  <h5 class="card-title">{{ l.link_title }}</h5>
                  <p class="card-text">{{ l.link_url }}</p>
                </div>
              </div>

            </a>

            {% elif loop.index == 1 or loop.index == 3 or loop.index == 6%}
            <!-- // card color warning -->
            <a href="{{ l.link_url }}" style="text-decoration: none;" target="_blank">
              <div class="card text-white bg-warning mb-3" style="max-width: 18rem;">
                <div class="card-header">Lien nº {{loop.index}}</div>
                <div class="card-body">
                  <h5 class="card-title">{{ l.link_title }}</h5>
                  <p class="card-text">{{ l.link_url }}</p>
                </div>
              </div>
            </a>


            {% elif loop.index == 7 or loop.index == 9 or loop.index == 1%}
            <!-- // card color secondary -->
             <a href="{{ l.link_url }}" style="text-decoration: none;" target="_blank">
              <div class="card text-white bg-secondary mb-3" style="max-width: 18rem;">
                <div class="card-header">Lien nº {{loop.index}}</div>
                <div class="card-body">
                  <h5 class="card-title">{{ l.link_title }}</h5>
                  <p class="card-text">{{ l.link_url }}</p>
                </div>
              </div>
            </a>

            {% else %}
             <a href="{{ l.link_url }}" style="text-decoration: none;" target="_blank">
              <div class="card text-white bg-success mb-3" style="max-width: 18rem;">
                <div class="card-header">Lien nº {{loop.index}}</div>
                <div class="card-body">
                  <h5 class="card-title">{{ l.link_title }}</h5>
                  <p class="card-text">{{ l.link_url }}</p>
                </div>
              </div>
            </a>


          {% endif %}

          {% endfor %}

          </div>


        </div>

        <!-- RIGHT COLUMN -->
        <div class="col-sm-3">
          <!-- // show number of views and posted by:  -->
          <div class="container">

            <div class="bd-example mt-3">
              <p><small class="text-muted">added by:</small>
                <a href=" {{ url_for('users.my_account', user_id=author.id) }}">
                  {{ author.username }}
                </a>
              </p>
            </div>

            <div class="bd-example mt-1">
              <p><small class="text-muted">views:</small> {{ views }} fois</p>
            </div>

          </div>


        </div>




      </div>
    </div>



{% endblock %}
