<!--- post.html --->
{% extends 'base.html' %}

{% block content %}

<!-- Banner image top -->

    <section class="hero-section u-margin-bottom-small">
      <div class="container-fluid">
        <div class="row">
          <div class="u-center-text">
            <!--<h5>Hello, world! Full width Hero-unit header</h5> -->
          </div>
        </div>
      </div>
    </section>

    <div class="container"  >

        <div class="columns">

          <!-- LEFT COLUMN -->
          <div class="column is-2">
            <!-- // show the category and the social  -->
            <div class="container">
              <div class="tags">

                {% for tag in tags %}
                <a href="#" class="tag">{{ tag }}</a>
                {% endfor %}

              </div>
              <!--- Adding the social buttons here -->
              <hr>
              <div class="columns is-vcentered">
                <div class="column is-one-quarter" >

                  {% if current_user.had_clapped_post(post) %}
                  <a href="{{ url_for('users.clap_action', post_public_id=post.public_id, action='unclap') }}" class="button">
                    <span class="icon">
                      <i class="fas fa-heart"></i>
                    </span>
                  </a>
                  {% else %}
                  <a href="{{ url_for('users.clap_action', post_public_id=post.public_id, action='clap') }}" class="button">
                    <span class="icon">
                      <i class="far fa-heart"></i>
                    </span>
                  </a>

                  {%endif%}


                </div>
                <div class="column">
                  <p> <span>{{post.claps.count()}}</span></p>
                </div>
              </div>

              <div class="columns is-vcentered">
                <div class="column">
                  <a href="#" class="button">
                    <span class="icon">
                      <i class="fab fa-twitter"></i>
                    </span>
                  </a>
                </div>
              </div>

              <div class="columns is-vcentered">
                <div class="column">
                  <a href="#" class="button">
                    <span class="icon">
                      <i class="fab fa-facebook"></i>
                    </span>
                  </a>
                </div>
              </div>


              <!---// Adding the social buttons here -->
            </div>
          </div>

          <!-- *************** END LEFT COLUMN *********************** -->


          <!-- MIDDLE COLUMN -->
          <div class="column is-8">
            <h1 class="title is-2">{{ post.title }}</h1>
            <p class="subtitle is-6"><small class="text-muted">{{ post.date_posted | datetimeformat }}</small></p>
            {% if author.id == current_user.id %}
            <div class="u-margin-bottom-small">
              <a href="{{ url_for('posts.update_post', post_public_id=post.public_id) }}" class="button is-primary is-outlined"> Update</a>
              <a href="#" class="button is-danger">Delete</a>
            </div>

            {% endif %}

            <div class="u-margin-bottom-small">
              <p class="lead mt-4 mb-4"> {{ post.summary }} </p>
            </div>

            <!-- // show the post links and titles -->
            {% if links %}
            <div class="u-margin-bottom-small">
              <h3 class="subtitle is-3 ">Pour approfondir ses connaissances: </h3>
            </div>
            {% else %}

            <div class="u-margin-bottom-small">
              <p class="subtitle is-3"> Cette puplication ne contient pas de lien pour approfondir ses connaissances. Ajoutez-en: </p>
            </div>

            <div class="u-margin-bottom-small">
              <a href="#" class="button is-primary">Ajouter des liens</a>
            </div>

            {% endif %}



                <div class="cards-list">
                  {% for l in links %}

                  <a  href="{{ l.link_url }}" style="text-decoration: none;" target="_blank">
                    <div class="m_card 1">
                      <div class="card_image"> <img src="https://i.redd.it/b3esnz5ra34y.jpg" /> </div>
                      <div class="card_title title-white">
                        <p>{{ l.link_title }}</p>
                      </div>
                    </div>
                  </a>


                  {% endfor %}

                </div>

          </div>




                  <!-- RIGHT COLUMN -->
                  <div class="column is-2">
                    <div class="container">

                      <div class="columns is-vcentered">
                        <div class="column">
                          <!-- // show number of views and posted by:  -->
                              <p><small class="text-muted">added by:</small>
                                <a href=" {{ url_for('users.my_account', public_id=author.public_id) }}">
                                  {{ author.username }}
                                </a>
                              </p>
                        </div>
                      </div>

                      <hr>
                      <!-- second row -->
                      <div class="columns is-vcentered">
                        <div class="column">
                          <p><small class="text-muted">views:</small> {{ views }} fois</p>
                        </div>
                      </div>



                    </div>
                  </div>


        </div>


    </div>



{% endblock %}
