<!--- post.html --->
{% extends 'base.html' %}

{% block content %}

<!-- Banner image top -->

    <section class="hero-section u-margin-bottom-small">
      <div class="container-fluid">
        <div class="row">
          <div class="u-center-text">
            <!--<h5>Hello, world! Full width Hero-unit header</h5> -->
          </div>
        </div>
      </div>
    </section>

    <div class="container-fluid"  >
      <div class="row">
        <div class="columns">

          <!-- LEFT COLUMN -->
          <div class="column is-2">
            <!-- // show the category and the social  -->
            <div class="container">
              <div class="bd-example mt-3">

                {% for tag in tags %}

                    {% if loop.index == 1 %}
                    <a href="#" class="tag is-link">{{ tag }}</a>
                    {% elif loop.index == 2 %}
                    <a href="#" class="tag is-primary">{{ tag }}</a>
                    {% elif loop.index == 3 %}
                    <a href="#" class="tag is-warning">{{ tag }}</a>
                    {% else %}
                    <a href="#" class="tag is-dange">{{ tag }}</a>

                    {% endif %}
                {% endfor %}
              </div>
              <div class="bd-example mt-3">
                <p><small class="text-muted">views:</small> {{ views }} fois</p>
              </div>
            </div>
          </div>

          <!-- *************** END LEFT COLUMN *********************** -->


          <!-- MIDDLE COLUMN -->
          <div class="column is-8">
            <h1 class="title is-2">{{ post.title }}</h1>
            <p class="subtitle is-6"><small class="text-muted">{{ post.date_posted | format_date }}</small></p>
            {% if author.id == current_user.id %}
            <div class="u-margin-bottom-small">
              <a href="{{ url_for('posts.update_post', post_id=post.id) }}" class="button is-primary is-outlined"> Update</a>
              <a href="#" class="button is-danger">Delete</a>
            </div>

            {% endif %}

            <div class="u-margin-bottom-small">
              <p class="lead mt-4 mb-4"> {{ post.summary }} </p>
            </div>

            <!-- // show the post links and titles -->
            {% if links %}
            <div class="u-margin-bottom-small">
              <h3 class="subtitle is-3 ">Pour approfondir ses connaissances: </h3>
            </div>
            {% else %}

            <div class="u-margin-bottom-small">
              <p class="subtitle is-3"> Cette puplication ne contient pas de lien pour approfondir ses connaissances. Ajoutez-en: </p>
            </div>

            <div class="u-margin-bottom-small">
              <a href="#" class="button is-primary">Ajouter des liens</a>
            </div>

            {% endif %}



                <div class="cards-list">
                  {% for l in links %}

                  <a  href="{{ l.link_url }}" style="text-decoration: none;" target="_blank">
                    <div class="m_card 1">
                      <div class="card_image"> <img src="https://i.redd.it/b3esnz5ra34y.jpg" /> </div>
                      <div class="card_title title-white">
                        <p>{{ l.link_title }}</p>
                      </div>
                    </div>
                  </a>


                  {% endfor %}

                </div>

          </div>




                  <!-- RIGHT COLUMN -->
                  <div class="column is-2">
                    <!-- // show number of views and posted by:  -->
                    <div class="container">

                      <div class="bd-example mt-3">
                        <p><small class="text-muted">added by:</small>
                          <a href=" {{ url_for('users.my_account', user_id=author.id) }}">
                            {{ author.username }}
                          </a>
                        </p>
                      </div>

                      <div class="bd-example mt-1">
                        <p><small class="text-muted">views:</small> {{ views }} fois</p>
                      </div>

                    </div>


                  </div>





        </div>







      </div>
    </div>



{% endblock %}
