<!-- ABOUT.HTML -->


{% extends 'base.html' %}


{% block content %}

  <section class="hero is-light">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        eduka! À propos de nous.
      </h1>
      <h2 class="subtitle">
        Le site qui vous aide à grouper, organiser et visualiser <br>   toutes les informations sur un thème.
      </h2>
    </div>
  </div>
  </section>



  <section class="section">

    <div class="container">

    </div>



  </section>


{% endblock %}
