<!--- BASE.HTML -->


<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title> {{ title }}</title>
<!--
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/docsearch.js@2/dist/cdn/docsearch.min.css" rel="stylesheet">
-->
    <!-- Custom CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.min.css">
  <!--  <link media="all" type="text/css" rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma-tooltip@2.0.2/dist/css/bulma-tooltip.min.css">
    <link rel="stylesheet" href="{{ url_for('core.static', filename='css/bulma-calendar.min.css') }}"> -->
    <link rel="stylesheet" href="{{ url_for('core.static', filename='css/style.css') }}">
  </head>
  <body>

    <header>

      <nav class="navbar" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
          <a class="navbar-item" href="https://bulma.io">
            <img src="https://bulma.io/images/bulma-logo.png" width="112" height="28">
          </a>

          <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
          </a>
        </div>

        <div id="navbarBasicExample" class="navbar-menu">
          <div class="navbar-start">

            <a class="navbar-item"  href="{{ url_for('core.home') }}">Home</a>
            <a class="navbar-item"  href="{{ url_for('core.about') }}">À propos de</a>
            <a class="navbar-item"  href="{{ url_for('core.show_collections') }}">Collections</a>
            {% if current_user.is_authenticated  %}
            <a href="{{ url_for('posts.add_post') }}" class="navbar-item">Publier</a>
            <a href="{{ url_for('users.my_account', user_id=current_user.id)}}" class="navbar-item"> Mon Compte</a>
            {% endif %}

          </div>

          <div class="navbar-end">
            <div class="navbar-item">
              <div class="buttons">
                {% if current_user.is_authenticated  %}
                <a  href="{{ url_for('users.logout') }}" class="button is-primary"><strong>Déconnection</strong></a>
                {% else %}
                <a  href="{{ url_for('users.registration') }}" class="button is-primary"><strong>Inscription</strong></a>
                <a href="{{ url_for('users.login') }}" class="button is-light">Connexion</a>
                {% endif %}

              </div>
            </div>
          </div>

        </div>
      </nav>

    </header>

    <main class="app-content">
      {% block content %} {% endblock %}
    </main>





    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="{{ url_for('core.static', filename='js/add_input_field.js') }}"></script>
    <!--<script src="{{ url_for('core.static', filename='js/doc.js') }}"></script>
    <script src="{{ url_for('core.static', filename='js/bulma-calendar.min.js') }}"></script>
    <script src="{{ url_for('core.static', filename='js/main.js') }}"></script> -->
  <!--  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script> -->

  </body>
</html>
