<!-- The footer for pages that need it -->


<!-------- FOOTER Start here ---------->

<footer class="footer">
  <div class="columns is-desktop is-vcentered">
      <!-------- Left side column ---------->
    <div class="column is-half">

      <div class="navbar-brand">
        <a class="navbar-item" href="https://bulma.io">
          <img src="https://bulma.io/images/bulma-logo.png" width="112" height="28">
        </a>
      </div>
    </div>

    <!-------- Middle column ---------->
    <div class="column">
      <div class="content">
        <h4> Produit</h4>
        <a href="#">Comment ça marche</a> <br>
        <a href="{{ url_for('posts.add_post') }}">Publier</a> <br>
        <a href="{{ url_for('core.show_collections') }}">Toutes les collections</a><br>
      </div>
    </div>

    <!-------- Right side column ---------->
    <div class="column">
      <div class="content">
        <h4> eduka!</h4>
        <a href="{{ url_for('core.about') }}">à propos</a> <br>
        <a href="{{ url_for('users.registration') }}">Créer un compte gratuit</a> <br>
        <a href="{{ url_for('users.login') }}">Connexion</a><br>
      </div>
    </div>
  </div>
</footer>
