<!-- The footer for pages that need it -->


<!-------- FOOTER Start here ---------->

<footer class="footer is-dark-color">
  <div class="columns is-vcentered">
      <!-------- Left side column ---------->
    <div class="column is-half-desktop is-half-tablet">

      <div class="navbar-brand">
        <a class="navbar-item" href="{{ url_for('core.home') }}">
          <img src="https://first-rep-eduka.s3.eu-west-3.amazonaws.com/site-logos/eduka_logo_white_small_white.png" width="112" height="28">
        </a>
      </div>
    </div>

    <!-------- Middle column ---------->
    <div class="column">
      <div class="content">
        <h4> Produit</h4>
        <a href="#">Comment ça marche</a> <br>
        <a href="{{ url_for('posts.add_post') }}">Publier</a> <br>
        <a href="{{ url_for('core.show_collections') }}">Toutes les collections</a><br>
      </div>
    </div>

    <!-------- Right side column ---------->
    <div class="column">
      <div class="content">
        <h4> eduka!</h4>
        <a href="{{ url_for('core.about') }}">à propos</a> <br>
        <a href="{{ url_for('users.registration') }}">Créer un compte gratuit</a> <br>
        <a href="{{ url_for('users.login') }}">Connexion</a><br>
      </div>
    </div>
  </div>
</footer>
